@charset "UTF-8";

    *{box-sizing:border-box; margin:0; outline:0}

html {
    width: 100%;
}

body {
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}



#container {
    width:100%; max-width: 1200px;
    height: 100%;
    padding-top:50px;
    margin:auto;
}

#titleBox {
    width:100%;
    margin: auto;
    padding:20px 0;
}

#title {
    width:250px;
    line-height: 3.5rem;
    font-size:1.8rem;
    text-align: center;
    margin-left:20px;
    color:#D50036;
    border-top:3px solid #D50036;
    border-bottom:3px solid #D50036;
}


#contentsBox {
    width:100%;
    height: 600px;
    margin-top: 10px;
}

#sec1 {
    width:100%;
    height:50%;
    display: flex;
    margin-bottom: 10px;
}

.inBox{
    width:20%;
    height:90%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.imgBox {
    width:80%;
    height:100%;
    margin:auto;
}

.imgBox>img {
    height:90%;
    display: block;
    margin: auto;
}

.textBox {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}

#sec2 {
    width:100%;
    height:50%;
    display: flex;
}









